*{
    box-sizing: border-box;
    margin: 0;
}

.flexheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../css/image/a41a38f3733bb97279a49d1449f7337dece50693.webp);

}

.container{
    width: 1200px;
    max-width: 100%;
    background-color: white;
    margin: auto;


}
.mycols{
    padding: 15px;
}

.mycols h1{
    background-color: blue;

}

.row{
    display: flex;
}

.mycols{
    width: 25%;
}

.inl-flex{
    display: inline-flex;
    
}

.logo{
    width: 50px;
    height: 50px;
}
.navbar{
    background-color: white;
}
.navbar{
display: flex;
    align-items:center ;
    margin-left: auto;
}
.navbar li{
    display:inline-block;

}
.navbar li{
    text-decoration: none;
    padding: 10px;
    color: red;
}
.navbar li a:hover{
    color: yellow;

}