*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
background-image: url('../img/photo-1508919801845-fc2ae1bc2a28.jpg');
background-position: center;
background-repeat:no-repeat;
background-size: cover;
height: 700px;
}

aside{
    width: 10%;
    padding: 15px;
    background-color: blue;


}
.content{
    width: 40%;
}

aside h1{
display: flex;
color: wheat;
justify-content: space-between;
padding: 15px 7px;
}
aside h1 i{
    color: red;
}