*{
    box-sizing: border-box;
}
body{
    margin: auto;
}

header{
    height: 800px;
    background-image: url(../img/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clontainer{
    width: 1100px;
    margin: auto;
    max-width: 100%;

}
.flexbox{
    display:flex;
    
}